{:top-namespace "ppp"
 :interface-ns "interface"
 :default-profile-name "default"
 :compact-views #{}
 :vcs {:name "git"
       ;;:auto-add false
       :auto-add true
       }
 :tag-patterns {:stable "stable-*"
                :release "v[0-9]*"}

 ;; what do these do?
 :projects {"development" {:alias "dev"}
            "command-line" {:alias "cli"}
            "http-server" {:alias "http-server"}
            }
}
