{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        }

 :extra-deps {poly/api-raml {:local/root "../components/api-raml"}
              }

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}

 }
