{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.12.985"}
        poly/lax {:local/root "../../components/lax"}
        poly/api-raml {:local/root "../../components/api-raml"}
        poly/http-server {:local/root "../../bases/http-server"}
        }

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           }
 }
