{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.12.985"}
        poly/lax {:local/root "../../components/lax"}
        poly/command-line {:local/root "../../bases/command-line"}

        ;; transitive dependencies.
        ;; dependencies not used directly but that the above depend upon.
        poly/api-raml {:local/root "../../components/api-raml"}

        }

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}

           :uberjar {:main ppp.command-line.core}
           }}
