{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        orchestra/orchestra {:mvn/version "2021.01.01-1"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        }
 :extra-deps {poly/api-raml {:local/root "components/api-raml"}
              }
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
